Name: <%= @figure.name %>
<%@figure.landmarks.each do |landmark|%>
  Landmarks: <%=landmark.name%>
  <%end%>
<%@figure.titles.each do |title|%>
  Titles: <%=title.name%>
  <%end%>


<a class="button" href="/figures/<%= @figure.id %>/edit">Edit</a>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Go Home</a>